{% extends 'customer/base.html' %}
{% load bootstrap4 %}

{% block head %}



<script src="https://www.gstatic.com/firebasejs/9.12.1/firebase-app-compat.js"></script>
<script src="https://www.gstatic.com/firebasejs/9.12.1/firebase-auth-compat.js"></script>
<!-- TODO: Add SDKs for Firebase products that you want to use
    https://firebase.google.com/docs/web/setup#available-libraries -->
<script>

    // Your web app's Firebase configuration
    const firebaseConfig = {
    apiKey: "AIzaSyAVi5He0_Px1YTLKXFdbX7QzAV47muuE-U",
    authDomain: "fastparcel-e37be.firebaseapp.com",
    projectId: "fastparcel-e37be",
    storageBucket: "fastparcel-e37be.appspot.com",
    messagingSenderId: "446716071195",
    appId: "1:446716071195:web:f1b844c1893b64a12a17be"
    };

    // Initialize Firebase
    firebase.initializeApp(firebaseConfig);

</script>



{% endblock %}

{% block main %}

<!-- /-------Basic Information-----/ -->
<b class="text-secondary">Basic Information </b><br/>
<div class="card bg-white mt-2 mb-5">
    <div class="card-body">
        <form  method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {% bootstrap_form user_form %}
            {% bootstrap_form customer_form %}
            <input type="hidden" name="action" value="update_profile">
            <button type="submit" class="btn btn-warning ">Save</button>
        </form>

    </div>

</div>

<!-- /-------password-----/ -->

<b class="text-secondary">change password </b><br/>
<div class="card bg-white mt-2 mb-5">
    <div class="card-body">
        <form  method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {% bootstrap_form password_form %}
            <input type="hidden" name="action" value="update_password">
            <button type="submit" class="btn btn-warning ">Save</button>
        </form>

    </div>

</div>


<!-- /-------phone number-----/ -->

<b class="text-secondary">phone number </b><br/>
<div class="card bg-white mt-2 mb-5">
    <div class="card-body">

        <div id="recaptcha-container"></div>

        <div id="get-code" class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Your phone number" >
            <div class="input-group-append">
              <button class="btn btn-warning" type="button">Send Code</button>
            </div>
          </div>


        <div id="verify-code" class="input-group mb-3 d-none">
            <input type="text" class="form-control" placeholder="Verification code" >
            <div class="input-group-append">
              <button class="btn btn-warning" type="button">Verify Code</button>
            </div>
          </div>
        
    </div>

</div>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        window.recaptchaVerifier = new firebase.auth.RecaptchaVerifier('recaptcha-container');
    });

    
    $("#get-code button").on('click', function () {
        const phoneNumber = $("#get-code input").val();
        console.log(phoneNumber);
        // to log present working directory use: 

        firebase.auth().signInWithPhoneNumber(phoneNumber, window.recaptchaVerifier)
            .then((confirmationResult) => {
                console.log(confirmationResult);
                window.confirmationResult = confirmationResult;

                $("#get-code").addClass("d-none");
                $("#verify-code").removeClass("d-none");
            }).catch((error) => {
                toast(error.message, 'error');
            });
    });

    $("#verify-code button").on('click', function() {
        const code = $("#verify-code input").val();

        confirmationResult.confirm(code).then((result) => {
            const user = result.user;
            console.log(user.phoneNumber);

            user.getIdToken().then(function (idToken) {
                console.log(idToken);
            });
        }).catch((error) => {
            toast(error.message, 'error');
        });
    });
</script>

{% endblock %}